body {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: blueviolet;
    background: linear-gradient(to right, blueviolet, white);
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
    border: 2px solid black;
    padding: 12px 24px;
    border-radius: 10px;
}
h1{
    font-size: 30px;
    text-transform: capitalize;
    margin-bottom: 100px;
    margin-bottom: 70px;
}

.subtitle {
    margin-top: 70px;
}